html {
  height: 100%;
}

body {
  margin: 0;
  min-height: 100%;
  display: flex;
  flex-direction: column;
  background: #f6f5ff;
}

#content {
  flex: 1;
  display: flex;
  flex-direction: row;
}

#side-menu {
  flex: 1;
  margin-left: 15px;
}

#main {
  flex: 2;
}

#header-wrapper {
  display: flex;
  flex-direction: row;
}

#heder-info {
  flex: 1;
}

#name{
  text-indent: 20px;
}

#title {
  text-align: center;
}

#profile{
  line-height: 0.6cm;
  font-size: 17px;
  text-align: justify;
  text-indent: 30px;
}

#h1 {
  margin-bottom: 10px;
}

.scroll-down{
  height: 50px;
  width: 30px;
  border: 2px solid black;
  position: absolute;
  left: 90%;
  bottom: 40px;
  border-radius: 50px;
  cursor: pointer;
}

.scroll-down::before,
.scroll-down::after{
  content: '';
  position: absolute;
  top: 20%;
  left: 50%;
  border: 2px solid rgb(196, 28, 28);
  height: 10px;
  width: 10px;
  transform: translate(-50%, -50%) rotate(45deg);
  border-top: transparent;
  border-left: transparent;
  animation: scroll-down 1s ease-in-out infinite;
}

.scroll-down::after{
  top: 30%;
  animation-delay: .3s;
}

@keyframes scroll-down {
  0% {
    opacity: 0;
  }
  30% {
    opacity: 1;
  }
  60% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    top: 90%;
  }
}

#footer {
  min-height: 24px;
}


/* li {
   font-style: italic; } */

#motto {
  margin: 0;
  text-align: right;
  color: rgb(0, 145, 255);
}

#motto span {
  font-weight: bold;
}

.favorite {
  font-weight: bold;
  color: green;
}

#top-menu-bar {
  text-align: center;
  background-color: #108eb4;
  color: #fff;
}

#top-menu-bar li {
  display: inline;
  margin: 0;
  padding: 0;
}

#top-menu-bar a {
  text-decoration: none;
  padding: 0 15px;
  /* margin: 0 15px; */
  color: #fff;
}

#top-menu-bar a {
  transition-property: all;
  transition-duration: 0.8s;
  transition-timing-function: ease-in;
}

#top-menu-bar a:visited {
  color: #fff;
}

#top-menu-bar a:hover {
  color: #108eb4;
  background: #fff;
}

#top-menu-bar a.active {
  color: #108eb4;
  background: #ff0;
}

.page {
  display: none;
  background: #fff;
  border-radius: 0.5rem;
  margin-bottom: 1.6rem;
  margin-right: 15px;
  padding: 1.6rem;
  border: 1px solid gray;
  box-shadow: 0 4px 8px rgb(151 127 200 / 9%);
}

.page h2 {
  margin-top: 0;
}